@charset "UTF-8";
body{
    background-color: rgba(74, 74, 210, 0.032);
    font-family: Arial, Helvetica, sans-serif;
   
}
form{

    padding: auto;
    display: contents;
    text-align: justify;

  

}
#dados{
   
}

#a{
    text-align: left;
    padding: 2px;
    margin: 2px;
}

#b{
    text-align: center;
}

.quant{
    width: 50px;
}

    
thead{
   border: 5px solid black;
   padding: 7px;
   width: flex;
   height: auto;

   text-align: justify;
   text-align: center;
   
  
}

td{
   border: 1px solid black;
   padding: 5px;
  
}
#quant{
    height: auto;
    width: auto;
    display: inline-flex;

}